.lastmessageTopic {
	border-bottom: solid 1px #eee;
    margin-bottom: 25px;
    text-align: justify;
    padding: 10px;
    width: 100%;
    background: white;
    border-radius: 5px;
}

.topic {
    padding: 16px;
    padding-top: 5px;
    padding-bottom:80px;
}

.rightPanel {
	float:right;
	width: 18%;
}

.onePartCam {
	width: 40px;
    background: #6e8258;
    height: 40px;
    color: white;
    border-radius: 50%;
    text-align: center;
    padding-top: 12px;
}

.lastmessageTopic table {
	width:100%;
	margin-bottom:20px;
	color:yellowgreen;
}

h1,h2 {
	color:#6e8258;
	margin-top:0;
}

.messageTopic {
	width:100%;
    color:OliveDrab;
	text-align:justify;
}

.reply {
	position:fixed;
	bottom:0;
	width:100%;
	background:#c9c87d;
	padding:5px;
	height:75px;
	z-index:99999999999;
}

.reply button{
    padding: 5px;
    color: white;
    background: yellowgreen;
	height:35px;
}

.reply textarea {
	width:80%;
	border:none;
	height:63px;
	margin-right:1%;
}

ion-app.md [padding] .scroll-content {
	padding:0 !important;
}

.scroll-content {
	background:#c9c87d;
	padding:0;
}
