.lastmessageTopic {
	border-bottom: solid 1px #eee;
    margin-bottom: 25px;
    text-align: justify;
    padding: 10px;
    width: 100%;
    background: white;
    border-radius: 5px;
}

.topic {
    padding: 16px;
    padding-top: 5px;
    padding-bottom:80px;
}

.rightPanel {
	float: right;
    width: 25%;
    height: 100%;
    overflow: hidden;
    padding-bottom: 22px !important;
}

.fab-md-primary {
	background-color:#6e8258 !important;
}

.onePartCam {
	width: 45px;
    background: #6e8258;
    height: 45px;
    color: white;
    border-radius: 50%;
    text-align: center;
    padding-top: 14px;
    margin-left:21%;
}

.lastmessageTopic table {
	width:100%;
	margin-bottom:20px;
	color:yellowgreen;
}

h1,h2 {
	color:#6e8258;
	margin-top:0;
}

.messageTopic {
	width:100%;
    color:OliveDrab;
	text-align:justify;
}

.reply {
	position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #c9c87d;
    padding: 5px;
    height: 100px;
    z-index: 99999999999;
}

.reply button{
    padding: 5px;
    color: white;
    background: yellowgreen;
	height:40px;
	margin-top:8px;
	width:100%;
}

.reply textarea {
	width:73%;
	border:none;
	height:100%;
	margin-right:1%;
}

ion-app.md [padding] .scroll-content {
	padding:0 !important;
}

.scroll-content {
	background:#c9c87d;
	padding:0;
}
