ion-col {
	border-left:solid 1px white;
}

.otherTab {
	background: yellowgreen;
    width: 150px;
    position: absolute;
    bottom: 50px;
    right: 0;
    padding: 10px;
    color:white;
    margin-right:2px;
    margin-bottom:2px;
}

.oneLineTab {
	border-bottom:solid white 2px;
	padding-bottom:12px;
	width:100%;
	font-size:16px;
	font-weight:bold;
	height:30px;
}
