.topicForum {
	border-bottom:solid 1px #ccc;
    color:yellowgreen;
    height:120px;
    padding-top:10px;
}

.toolbar-background-md, .toolbar-background {
	color:white !important;
	background:#6e8258;
}

.toolbar-title, .back-button, .toolbar-title-md {
	color:white !important;
}

.clear {
	clear:both;
}

.lastMessage table {
	text-align:right;
}

.message {
	text-overflow: ellipsis;
	white-space: nowrap;
	width:100%;
    overflow: hidden;
    color:OliveDrab;
}

.topicAuthor {
	position:absolute;
	right:5px;
}

.leftAlign {
	width:90%;
	float:left;
}

.forum {
    margin: 0;
    width: 100%;
    background:white;
    height:100%;
    padding: 16px;
    padding-top: 5px;
    position: absolute;
}

/*.forumH1 {
	background:yellowgreen;
	color:white;
	padding-top:5px;
	padding-bottom:5px;
	margin:0;
	text-align:center;
}*/

.bottomTabs {
	position: absolute;
    bottom: 0;
    width: 100%;
    background: yellowgreen;
    text-align: center;
    left: 0;
    height: 50px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    letter-spacing: 1px;
}

.firstMessage {
	color:yellowGreen;
}



.alignLeft {
	text-align:left;
}

.bottomTabs tr td:hover {
	background:OliveDrab;
}

.bottomTabs tr td {
	border-right:solid 2px white;
}

.lastMessage {
	padding-bottom: 5px;
}

.rightAlign {
	float: right;
    color: #aaa;
    margin-left:5px;
    font-size: 16pt;
    height:120px;
    padding-top:50px;
}

.topic h2 {

}
