<ion-header>
  <ion-navbar>
    <ion-title class="forumH1">Forum - {{forum.name}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
	<div class="forum">
		<div class="topicForum" *ngFor="let topic of forum.topics;">
			<div class="rightAlign" (click)="goToTopic(topic.id)">
				<ion-icon name="ios-arrow-forward"></ion-icon>
			</div>			
			
			<div class="leftAlign">
				<div class="topicAuthor">
					Par : {{topic.author}}
				</div>
				<h2>
					<ion-icon style="color:yellowGreen" *ngIf="topic.haveNotReadMessage" name="mail"></ion-icon>
					<ion-icon  *ngIf="!topic.haveNotReadMessage" name="mail-open"></ion-icon>
					{{topic.title}}
				</h2>
				<hr/>
				<div class="lastMessage" *ngIf="topic.messages.length > 0">
					<table>
						<tr class="author">
							<td class="alignLeft">author :</td><td>{{topic.messages[topic.messages.length - 1].author}}</td>
						</tr>
						<tr class="date">
							<td class="alignLeft">last message :</td><td>{{topic.messages[topic.messages.length - 1].date}}</td>
						</tr>
					</table>
					<div class="message">
						{{topic.messages[topic.messages.length - 1].text}}
					</div>
				</div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	
	<angular-tab [tabs]="tabs" [max]="3"></angular-tab>
</ion-content>



